body {
  width: 100vw;
}

#guesses-table-header [data-sort="ascending"]::before {
  content: "▲";
}

#guesses-table-header [data-sort="descending"]::before {
  content: "▼";
}

#guesses-table-body tr:first-child {
  background-color: lightgrey;
}
