.page {
  max-width: 512px !important;
}

#message-area {
  min-height: 36px;
  text-align: center;
  padding-top: 6px;
}

#guesses-table {
  width: 100%;
}

#guesses-table-header [data-sort="ascending"]::before {
  content: "▲";
}

#guesses-table-header [data-sort="descending"]::before {
  content: "▼";
}

#guesses-table-body tr:first-child {
  background-color: lightgrey;
}
